<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <activity
            android:name=".googlepay.GooglePayHelperActivity"
            android:theme="@style/Snabble.Theme.GooglePayOverlay" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="io.snabble.sdk.SnabbleInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

    <queries>
        <package android:name="com.google.android.apps.walletnfcrel" />
    </queries>
</manifest>
