<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name="io.snabble.sdk.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name="io.snabble.sdk.shopfinder.ShopListActivity"
            android:exported="false" />
        <activity
            android:name="io.snabble.sdk.shopfinder.ShopDetailsActivity"
            android:exported="false" />
    </application>
</manifest>
