<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.snabble.sdk.ui"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <application>
        <activity android:name=".checkout.CheckoutActivity" android:exported="false" />
        <activity android:name=".payment.SEPACardInputActivity" android:exported="false" />
        <activity android:name=".payment.CreditCardInputActivity" android:exported="false" />
        <activity android:name=".payment.PaymentOptionsActivity" android:exported="false" />
        <activity android:name=".payment.ProjectPaymentOptionsActivity" android:exported="false" />
        <activity android:name=".payment.PayoneInputActivity" android:exported="false" />
        <activity android:name=".payment.PaydirektInputActivity" android:exported="false" />
        <activity android:name=".payment.PaymentCredentialsListActivity" android:exported="false" />
        <activity android:name=".payment.AgeVerificationInputActivity" android:exported="false" />
        <activity android:name=".search.ProductSearchActivity" android:exported="false" />
        <activity android:name=".cart.ShoppingCartActivity" android:exported="false" />
        <activity android:name=".scanner.SelfScanningActivity" android:exported="false" />

        <provider
            android:name="io.snabble.sdk.SnabbleFileProvider"
            android:grantUriPermissions="true"
            android:exported="false"
            android:authorities="${applicationId}.ReceiptFileProvider">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/snabble_file_provider_paths"/>

        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data  android:name="io.snabble.sdk.ui.CheckoutContinuationInitializer"
                android:value="androidx.startup" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>
</manifest>
